<launch>
    <!--这里面的param都是不额外带命名空间-->
    <param name="n_Param" type="string" value="test"/>

    <node pkg="demo_rosparam" type="demo_rosparam" name="demo_rosparam" output="screen" > 
        <!--这里面的param都是带demo_rosparam的命名空间，若node后面加ns，则等于在前面前缀加ns-->
        <param name="n_Param" type="string" value="nnnnn"/>
        <param name="pn_Param" type="string" value="pnpnpn"/>
    </node>
</launch>